<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.example.mapper.EmployeeMapper">
	<resultMap type="Employee" id="employeeMap">
		<id column="empno" property="id"/>
		<result column="ename" property="name"/>
		<result column="job" property="job"/>
		<result column="mgr" property="mgr"/>
		<result column="hiredate" property="hiredate"/>
		<result column="sal" property="sal"/>
		<result column="comm" property="comm"/>
		<result column="deptno" property="deptNo"/>
	</resultMap>
	
	<select id="query" resultMap="employeeMap">
		<![CDATA[ 
			SELECT * FROM(
		        SELECT A.*,ROWNUM rn
		        FROM 
		            (SELECT empno,ename,job,mgr,hiredate,sal,comm,deptno FROM emp ) A
		        WHERE ROWNUM<=#{end}
				)  TL 
			WHERE rn >=#{start}
		]]>
		
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM emp
	</select>
</mapper>