<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.example.mapper.EmployeeMapper">
	<resultMap type="Employee" id="employeeMap">
		<id column="EMPLOYEE_ID" property="id" />
		<result column="LAST_NAME" property="name" />
		<result column="JOB_ID" property="jobId" />
		<result column="MANAGER_ID" property="managerId" />
		<result column="HIRE_DATE" property="hireDate" />
		<result column="SALARY" property="salary" />
		<result column="COMMISSION_PCT" property="commissionPct" />
		<result column="DEPARTMENT_ID" property="departmentId" />
	</resultMap>
	<!-- include的property子元素无效 -->
	<select id="query" resultMap="employeeMap">
		<bind name="alias" value="'tb'" />
		<bind name="querySql"
			value="'SELECT EMPLOYEE_ID,LAST_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMMISSION_PCT,DEPARTMENT_ID FROM employees ORDER BY SALARY'" />
		<include refid="pageQuerySql" />
	</select>
	
	<sql id="pageQuerySql">
		<include refid="startPageSql" />
		${querySql}
		<include refid="endPageSql" />
	</sql>

	<sql id="startPageSql">
		SELECT * FROM(
		SELECT ${alias}.*,ROWNUM rn
		FROM
		(
	</sql>

	<sql id="endPageSql">
		<![CDATA[
			) ${alias}
		        WHERE ROWNUM<=#{end}
				)  TL 
			WHERE rn >=#{start}
		]]>
	</sql>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM employees
	</select>
</mapper>